:root{
	--background: #000000;
	--color: #ffffff;

	--font: Helvetica, Arial, sans-serif;
}

*, *:before, *:after{
	box-sizing: border-box;
}

html{}

body{
	background: var(--background);
	color: var(--color);
	font: 400 1em/1.25 var(--font);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	margin: 0;
}

	a{
		color: inherit;
	}

		a:active, a:focus, a:hover{
			text-decoration: none;
		}

	h1, h2, h3, h4, h5, h6{
		font: inherit;
		font-weight: bold;
		line-height: 1.1;
		margin: 0;
	}

	p{
		margin: 0;
	}

#app{
	display: flex;
		align-items: center;
		justify-content: center;
	height: 100vh;
	padding: 0;
	width: 100vw;
}

	#logo{
		position: relative;
	}

	#btnPlay, #btnPause{
		background: none;
		border: none;
		border-radius: 0;
		box-shadow: none;
		color: inherit;
		cursor: pointer;
		font: inherit;
		padding: 0;

		position: fixed;
			top: 1rem;
			left: 1rem;
	}

		#btnPause{
			left: 5rem;
		}
